/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    --white: #ffffff;
    --medium-white: #fcfcfd;
    --dark-white: #eaecf0;
    --black: #101828;
    --dark-gray: #344054;
    --medium-gray: #667085;
    --soft-gray: #D0D5DD;
    --blue: #0070FF;
    --soft-blue: #E5EFFD;
    --red: #eb5757;
    --soft-red: #FDECEC;
    --orange: #f2994a;
    --soft-orange: #FDFBEC;

    /* 1rem = 16px (User Agent) = 100% */
    font-size: 62.5%;
}

body {
    padding: 0 2rem;
    font-family: 'Inter', sans-serif;

    /* clamp = intervalo de tamanho (mínimo, padrão e máximo) */
    font-size: clamp(14px, 1.6rem, 2vw);
}

/* fonts */
h1 {
    font-size: 1.8rem;
    display: inline;
}

small {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--medium-gray);
}

.regular {
    font-size: 1.4rem;
    color: var(--medium-gray);
}

.small {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline;
}

/* buttons */
.button {
    border-radius: .8rem;
    padding: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button.white {
    border: 2px solid var(--blue);
}

.button.blue {
    background-color: var(--blue);
}

/* header */
header {
    background-color: var(--white);
    padding: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .version {
    display: inline;
    color: var(--blue);
    background-color: var(--soft-blue);
    padding: 0.2rem 1.3rem;
    margin: 0 1rem;
    border-radius: 2rem;
}

header .about {
    margin: 1rem 0;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li:nth-child(3){
    border: 1px solid var(--soft-gray);
    border-radius: 1rem;
    margin: 0 1.6rem;
}

header nav ul li:nth-child(4){
    background-color: var(--blue);
    border-radius: 1rem;
}

header nav ul li .button {
    color: white;
}

header nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 1rem 1.6rem;
    color: var(--dark-gray);
}

header nav ul li a:hover{
    opacity: 70%;
}

/* table */
table{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table:first-child{
    padding: 1.3rem 0;
    background-color: var(--medium-white);
}

th {
    align-items: center;
    justify-content: center;
}

/* tags */
.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle.important {
    background-color: var(--red);
}

.circle.intermediary {
    background-color: var(--orange);
}

.circle.normal {
    background-color: var(--medium-gray);
}

.tag {
    font-weight: 500;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    padding: .5rem .8rem;
}

.tag.important {
    background-color: var(--soft-red);
    color: var(--red);
}

.tag.intermediary {
    background-color: var(--soft-orange);
    color: var(--orange);
}

.tag.normal {
    background-color: var(--soft-gray);
    color: var(--medium-gray);
}